Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  linuxkernel-*,
  misc-*,
  mpi-*,
  openmp-*,
  performance-*,
  portability-*,
  readability-*,
  -cert-dcl50-cpp,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-vararg,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-use-anonymous-namespace,
  -readability-identifier-length,
  -readability-magic-numbers,
CheckOptions:
  readability-function-cognitive-complexity.IgnoreMacros: true
  readability-function-cognitive-complexity.Threshold: 25
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: UPPER_CASE
  readability-identifier-naming.FunctionCase: lower_case
ExcludeHeaderFilterRegex: '.*/build-[^/]+/.*|.*/vendor/.*'
FormatStyle: file
WarningsAsErrors: '*'
